body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500, 800;
  font-style: normal;
  font-size: 16px;
}
main{
    width:300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 8px 8px 1px rgba(0, 0, 0);
}
main .ImageSection{
    margin-bottom: 20px;
}
main .ImageSection img{
    width: 100%;
    height: auto;
    border-radius:15px;

}

section {
    text-align: left;
    color:hsl(0, 0%, 7%);
}
section .btn-yellow{
    background-color:hsl(47, 88%, 63%);
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
 
}
section h1{
    cursor: pointer;
}
section h1:hover{
    color:hsl(47, 88%, 63%);
}
section p {
    color:hsl(0, 0%, 42%);
    font-size: 14px;
    
}
section .profile{
    display: flex;
    gap: 5px;
    align-items:center;
}